# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
**/doc/api/
**/ios/Flutter/.last_build_id

# Android build artifacts
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Env/Security
.env
*.key
*.secret
